.Rproj.user
.Rhistory
.RData
.Ruserdata

# single-subject files to ignore.
2_beh_QC_and_demo/archived/
2_beh_QC_and_demo/data/
4_brain_motion_QC/habanero_jobs_output/**
4_brain_motion_QC/archived/**
4_brain_motion_QC/QA_motion_general/**
4_brain_motion_QC/censored_TRs/**
6_brain_preproc_level1_by_run/archived_lev1_models/
6_brain_preproc_level1_by_run/preproc_lev1_fsfs/**
6_brain_preproc_level1_by_run/onset_files/** 
7_brain_level2_combine_runs/lev2_fsfs/**
7_brain_level2_combine_runs/template_lev2_fsf/archived/**
8_brain_ROI_analysis/ROIs/**
8_brain_ROI_analysis/pulled_betas/**
8_brain_ROI_analysis/pulled_betas_N126_old/**

# brms model results 
10_planned_analyses/COMP_ECA/2_Planned_Analyses/brms_models/results/**
10_planned_analyses/COMP_ONLY/brms_models/results_archived/**
10_planned_analyses/COMP_ONLY/brms_models/archived/**
10_planned_analyses/COMP_ONLY/preregistration_model_results/**
10_planned_analyses/COMP_ONLY/Rmarkdown_manuscript/**


# files to big 
**/*.html
**/*.nii
**/*.nii.gz
**/*.DS_Store
**/*.key 
**/*.nohup
**/*.pdf
**/*._*
**/*.con
**/*.grp
**/*.mat
**/*.ppm
**/*.png

